<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="banquePU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>dao.ParticulierEntity</class>
    <class>dao.ProfessionnelEntity</class>
    <class>dao.CompteEntity</class>
    <class>dao.CompteLivretEntity</class>
    <class>dao.TransactionEntity</class>
    <class>dao.ConseillerEntity</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:derby://localhost:1527/Banque"/>
      <property name="javax.persistence.jdbc.user" value="toto"/>
      <property name="javax.persistence.jdbc.driver" value="org.apache.derby.jdbc.ClientDriver"/>
      <property name="javax.persistence.jdbc.password" value="admin"/>
      <property name="eclipselink.query-results-cache" value="false"/>
    </properties>
  </persistence-unit>
</persistence>
