<div class="services" id="info_compte">
            <div class="container">
                <div class="w3-heading-all">
                    <h4>${result}</h4>
                    <h3>Informations Comptes Personnels</h3>
                </div>
                <div class="welcome-grids">
                    <div class="col-md-12 welcome-w3left">
                        <table class="table">
                            <thead class="bg-primary small">
                            <th>Type de compte</th>
                            <th>Numero de compte</th>
                            <th>En opération</th>
                            <th>Devise</th>
                            <th>Voir les Details</th>

                            </thead>
                            <tbody>
                                    <tr class="bg-info" ng-repeat="c  in comptes">
                                        <td>{{c.type}}</td>
                                        <td>{{c.id}}</td>
                                        <td>{{c.solde}}</td>
                                        <td>EUR</td>
                                        <td>
                                          <input type="button" value="Details de Compte" ng-click="vm.loadTransactions(comptes[$index].id)">  
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                    </div> 
                </div>
                <div class="clearfix"></div>
            </div>
</div>
