<div id="contact" class="contact">
    <div class="container">
        <div class="w3-heading-all">
            <h3>Virement entre comptes</h3>
        </div>
        <div class="contact-info">

            <div class="col-md-8 contact-grids">

                <div class="contact-form">
                    <h3>Virement entre comptes internes</h3>
                    <form id="myForm" name="myForm" ng-submit="vm.verifyForm()">
                        <h4>Depuis compte numéro: </h4>
                        <br/>
                        <select  class="form-control" ng-model="vm.idCompteSender" ng-options="x for x in Ids" id="idCompteSender" ng-init=" vm.idCompteSender = Ids[0]"></select>                        
                        <br/>
                        <h4>Vers compte numéro: </h4>
                        <br/>
                        <input class="form-control" type="number" required="" ng-model="vm.idCompteReceiver" id="idCompteReceiver">
                        <br/>
                        <h4>Montant:</h4>
                        <br/>
                        <input class="form-control" type="number" min="10" max="3000" placeholder="Montant" required="" ng-model="vm.montant" id="montant">
                        <br/>
                       <!-- <input type="hidden" value="virement" ng-model="vm.page">
                        <input type="hidden" value="${idUser}" ng-model="vm.idUser">
                        <input type="hidden" value="${typeUser}" ng-model="vm.typeUser"> -->

                       <input type="submit" value="Envoyer" id="btn" class="btn btn-info">

                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>    
                    </form>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
